@charset "UTF-8";
/* CSS Document */

html,
html * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body {
	font-family: 'arial', sans-serif;
	font-size: lvw;
	background: white;
}

header {
	width: 100%;
	top: 0px;
	padding: 0.5em;
	position: fixed;
}
h1 {
	color: white;
	text-transform: uppercase;
	font-size: 5em;
	letter-spacing: 0.25em;
	text-align: center
}

h2 {
	text-transform: none;
	text-align: center;
	font-size: 3em;
}
h3 {
	text-align: center;
	font-family: 'Impact, Charcoal' sans-serif;
	
}
.hero {
	padding: 20em 6em;
	background-color: grey;
}
.intro {
	/*padding: 15em 6em;*/
	/*background-image: linear-gradient(rgb(160, 55, 220) 0%, rgb(83, 200, 234) 100%);*/
	/*background-color: burlywood;*/
	/*background-image: url("Wood texture.jpg");*/
	padding-bottom: 6em;
	background-color: grey;
}
.intro p {
	font-family: 'Raleway', sans-serif;
	color: black;
	text-align: center;
	text-transform: none;
	font-size: 1.5em;
	line-height: 1.5em;
	letter-spacing: 0.05em;
	position: relative;
	top: 00px;
	width: 1000px;
	right: -190px;
	font-weight: 100;
}

.site-nav {
	position: relative;
	float: right;
	z-index: 400;
	top: 0;
	left: 0;
	display: block !important;
	padding: 0.75em 1em 0 0;
	opacity: 0.95;
	background: none;
}
.site-nav ul {
	list-style-type: none;
	margin: 0;
	text-align: right;
}
.site-nav ul li {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 1.5em;
}
.site-nav ul li a {
	font-size: .85em;
	padding-bottom: .5em;
	text-decoration: none;
	letter-spacing: .15em;
	text-transform: uppercase;
	color: black;
	-webkit-transition: color .3s;
	transition: color .3s;
}
.site nav ul li a:hover {
	outline: none;
	border-bottom: 1px solid red;
}
.hero-content {
	font-family: 'acumin-pro-extra-condensed', sans-serif;
	color:black;
	z-index: 20000;
	/*padding-bottom: 8em;*/
	text-align: center;
}
.intro-header {
	text-transform: uppercase;
	font-size: 4em;
	letter-spacing: 0.05em;
	text-align: center;
	padding-bottom: 2em;
	position: relative;
	top: 50px;
	font-family: 'Raleway', sans-serif;
	text-shadow: 4px 4px 4px grey;
	color: black;
	font-weight: normal;
}
.artworks {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.artwork {
	display: flex;
}
.artwork .artwork-piece {
	padding: 8% 0 23.5%;
	background-image: -webkit-linear-gradient(top left, rgb(160, 55, 220) 0%, rgb(83, 200, 234) 100%);
	background-image: -o-linear-gradient(top left, rgb(160, 55, 220) 0%, rgb(83, 200, 234) 100%);
	background-image: linear-gradient(to bottom right, rgb(160, 55, 220) 0%, rgb(83, 200, 234) 100%);
	width: 50%;
}
.artwork-piece figure {
	position: relative;
}
.site-logo {
	position: relative;
	top: -220px;
	left: -125px;
}
.education-header {
	text-transform: uppercase;
	font-size: 4em;
	letter-spacing: 0.05em;
	text-align: center;
	padding-bottom: 2em;
	position: relative;
	top: 70px;
	font-family: 'Raleway', sans-serif;
	text-shadow: 4px 4px 4px grey;
	color: black;
	font-weight: normal;
}
.education {
	padding-bottom: 0;
	background-color: grey;
}
.intro-logo {
	position: relative;
	top: 50px;
	right: -400px;
}

.college {
	position: relative;
	top: 50px;
	font-size: 1.5em;
	text-transform: uppercase;
	width: 300px;
	right: -50px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}
.college-years {
	position: relative;
	top: -50px;
	font-size: 1.5em;
	right: -500px;
	font-style: italic;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}
.college-courses {
	position: relative;
	width: 350px;
	font-size: 1.5em;
	top: -83px;
	right: -950px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}
.hs1 {
	position: relative;
	width: 300px;
	font-size: 1.5em;
	right: -50px;
	text-transform: uppercase;
	top: -37px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}
.hs1-years {
	position: relative;
	top: -120px;
	font-size: 1.5em;
	right: -500px;
	font-style: italic;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}
.hs1-courses {
	position: relative;
	width: 350px;
	font-size: 1.5em;
	top: -149px;
	right: -950px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

.projects {
	padding-bottom: 30em;
	background-color: grey;
}
.projects-header {
	text-transform: uppercase;
	font-size: 4em;
	letter-spacing: 0.05em;
	text-align: center;
	padding-bottom: 2em;
	position: relative;
	top: 70px;
	font-family: 'Raleway', sans-serif;
	text-shadow: 4px 4px 4px grey;
	color: black;
	font-weight: normal;
}
.projects-subheader {
	font-size: 1.5em;
	font-weight: normal;
	position: relative;
	top: -50px;
	font-family: 'Raleway', sans-serif;
}
.projects-hyperloop {
	text-align: left;
	position: relative;
	right: -100px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 1.5em;
	text-transform: uppercase;
}
.hyperloop-years {
	position: relative;
	top: -96px;
	right: -100px;
	font-size: 1.25em;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
}
.hyperloop-desc {
	position: relative;
	right: -59px;
	top: -40px;
	font-size: 1.15em;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
	width: 1270px;
}
.projects-calendar {
	text-align: left;
	position: relative;
	right: -100px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 1.5em;
	text-transform: uppercase;
	top: 113px;
}
.calendar-years {
	position: relative;
	top: 12px;
	right: -100px;
	font-size: 1.25em;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
}
.calendar-desc {
	position: relative;
	right: -59px;
	top: 14px;
	font-size: 1.15em;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
	width: 1270px;
}
.projects-sae {
	text-align: left;
	position: relative;
	right: -100px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 1.5em;
	text-transform: uppercase;
	top: 400px;
}
.sae-years {
	position: relative;
	top: 115px;
	right: -100px;
	font-size: 1.25em;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
}
.sae-desc {
	position: relative;
	right: -59px;
	top: 65px;
	font-size: 1.15em;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
	width: 1270px;
}
.projects-website {
	text-align: left;
	position: relative;
	right: -100px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 1.5em;
	text-transform: uppercase;
	top: 565px;
}
.website-years {
	position: relative;
	top: 75px;
	right: -100px;
	font-size: 1.25em;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
}
.website-desc {
	position: relative;
	right: -59px;
	top: 45px;
	font-size: 1.15em;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
	width: 1270px;
}
.projects-sce {
	text-align: left;
	position: relative;
	right: -100px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 1.5em;
	text-transform: uppercase;
	top: 818px;
}
.sce-years {
	position: relative;
	top: 445px;
	right: -100px;
	font-size: 1.25em;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
}
.sce-desc {
	position: relative;
	right: -59px;
	top: 232px;
	font-size: 1.15em;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
	width: 1270px;
}